
.fa-bars{
    position: absolute;
    right: 50px;
    font-size: 2rem;
    top: 112px;
    color: rgb(172, 170, 167);
    cursor: pointer;
   
}

.fa-bars:hover{
       color: rgb(238, 234, 234);
    }